

.split {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 20;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color:white;
  }
  
  .right {
    right: 0;
    background-color: white;
  }
  img {
    float: right ;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .centered img {
    width: 500px;
    height: 500px;
    border-radius: 70%;
  }
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
section {
  display:flex;
}
h1 {
    
  text-align: center;
  padding:30px;
}
.carousel {
height: 50%;

  background-size: cover;
  position: fixed;
}

.section-content
{
    margin-top: 0;
}
figure {
  position: relative;
  left:200px;
  top:100px;
  bottom:0px;
}

.flex-container{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;

}
.box1{
 flex-grow:1;
 width: 25%;

}
.box2{
 flex-grow:4;
 width: 50%;
 margin-left: 10px;
 margin-right: 10px;}
.box3{
 flex-grow:1;
 width: 25%;
}
.flex-container section{
  flex-basis: auto;
}


