html,body{
    margin: auto;
}

.navbar-nav{
   display: inline;
   float: right;
    font-size: 16px;
}
.nav-item{
    text-decoration: none;
    list-style: none;
}

.ul-st{
    text-decoration: none;
}